@import url();

:root{
    --background: #e0e5ec;/*variables*/
    --gray: #797d7f;
}

*,
*::before,
::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family:"Raleway", sans-serif;
}

img {
    max-width: 100%;
}

.container{
    background-color: var(--background);
}
